{% extends "_layout.html" %}

{# Navigation #}
{% set active_app = 'Countries' %}
{% set active_page = page %}

{% block title %}
  {{ super() }} - {{ page }}
{% endblock %}

{% block head %}
  {{ super() }}

  <link rel="stylesheet" href="/static/css/countries.css" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  <script type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}

{# Layout Menu #}
{% block menu %}
  {{ menu_item('All Countries', countries_url) }}
  {% for c in country_list %}
    {{ menu_item(c.label, c.url) }}
  {% endfor %}
{% endblock %}

{% block content %}
  <h1>{{ page }}</h1>

  {% if country %}
    <h2>Number of Prisoners (2019): {{ country.stat }}</h2>
    <h2>{{country.year}} : {{country.prev}}</h2>
    <canvas id="line-chart", width=800, height=700></canvas>
    <button id="refresh" type="button">Refresh</button>
    <script type="text/javascript">
      // line chart
      new Chart(document.getElementById("line-chart"), {
          type: 'line',
          data: {
            labels: ['2019', '{country.year}'],
            datasets: [
              {
                label: "Population over time (prisoners)",
                //backgroundColor: ['{{country.colour}}'],
                //hoverBackgroundColor: ['{{country.background}}'],
                data: ['{{country.stat}}','{{country.prev}}']
              }
            ]
          },
          options: {
            legend: { display: false },
            title: {
              display: true,
              text: 'Population (prisoners)'
            }
          }
      });
    </script>
  {% else %}
  <canvas id="bar-chart"></canvas>
  <button id="refresh" type="button">Refresh</button>

  {% endif %}
{% endblock %}