{% extends "_layout.html" %}

{# Navigation #}
{% set active_app = 'Countries' %}
{% set active_page = page %}

{% block title %}
  {{ super() }} - {{ page }}
{% endblock %}

{% block head %}
  {{ super() }}

  <link rel="stylesheet" href="/static/css/countries.css" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

  <script src="https://www.amcharts.com/lib/4/core.js"></script>
  <script src="https://www.amcharts.com/lib/4/maps.js"></script>
  <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
  <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

  <script type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}

{# Layout Menu #}
{% block menu %}
  {{ menu_item('All Countries', countries_url) }}

 
{% endblock %}

{% block content %}


  <h1>{{ page }}</h1>

  <label for="multiselect-countries">
      Start typing the name of the country or countries you would like to view:
  </label>

  <select class="js-countries-multiple" id="multiselect-countries" name="countries[]" multiple="multiple" style="width: 100%">
    
      {% for x in country_list %}
            <option value="{{ x.label }}">{{ x.label }}</option>
      {% endfor %}
  </select>

<!--multi-select box for countries script-->
  <script>
  $(document).ready(
      function () {
          $('.js-countries-multiple').select2({ placeholder: 'Select Country(s)'});
      }
  );
  </script>

    <canvas id="bar-chart"></canvas>

  {% for c in country_datas_list %}
      {{ menu_item(c.metric.name) }}

    <h2>Country : {{c.country.name}}  Number of Prisoners {{c.year}}: {{ c.value }}</h2>
    <h2>Region : {{c.country.region.name}} </h2>
  {% endfor %}

  {% for m in metric_list %}
   <button class="refreshmetric" type="button" data-key="{{ m.key }}">{{ m.label }}</button>
  {% endfor %}

  {% for c in country_list %}
  <button class="refresh" type="button" data-key="{{ c.key }}">{{ c.label }}</button>
 {% endfor %}


 <!--* This map is created using amCharts 4 * Example code from this website was used and repurposed:
 * https://www.amcharts.com/-->
 
<!-- Chart code -->
<script>
    am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create map instance
var chart = am4core.create("chartdiv", am4maps.MapChart);

// Set map definition
chart.geodata = am4geodata_worldLow;

// Set projection
chart.projection = new am4maps.projections.NaturalEarth1();

// Create map polygon series
var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());

polygonSeries.mapPolygons.template.strokeWidth = 0.5;

// Exclude Antartica
polygonSeries.exclude = ["AQ"];

// Make map load polygon (like country names) data from GeoJSON
polygonSeries.useGeodata = true;

polygonSeries.data = [{
  "id": "US",
  "value": 100
}, {
  "id": "FR",
  "value": 50
}];

polygonSeries.heatRules.push({
  "property": "fill",
  "target": polygonSeries.mapPolygons.template,
  "min": am4core.color("#BBBBBB"),
  "max": am4core.color("#AAAAAA")
});

// Configure series
var polygonTemplate = polygonSeries.mapPolygons.template;
polygonTemplate.tooltipText = "{name} [bold]{value}[/]";

// Create hover state and set alternative fill color
var hs = polygonTemplate.states.create("hover");
hs.properties.stroke = am4core.color("#666666");
hs.properties.strokeWidth = 1;

// Create active state
var activeState = polygonTemplate.states.create("active");
activeState.properties.stroke = am4core.color("#999999");
activeState.properties.strokeWidth = 1;

// Create an event to toggle "active" state
polygonTemplate.events.on("hit", function(ev) {
  ev.target.isActive = !ev.target.isActive;
})

chart.events.on("hit", function(ev) {
  var activeIds = Array.from(polygonSeries.mapPolygons)
    .filter(p => p.isActive)
    .map(p => p.dataItem.dataContext.id);
  
  alert(activeIds);
})

function setState(country, active) {
  polygonSeries.mapPolygons.each(function(polygon) {
    if (polygon.dataItem.dataContext.id == country) polygon.setState(active ? "active" : "default");
  });
}

var graticuleSeries = chart.series.push(new am4maps.GraticuleSeries());

setState("GB", true);
setState("US", true);
setState("US", false);
}); 
// end am4core.ready()

</script>

<!-- HTML -->
<div id="chartdiv"></div>


{% endblock %}