{% extends "_layout.html" %}

{# Navigation #}
{% set active_app = 'Countries' %}
{% set active_page = page %}

{% block title %}
  {{ super() }} - {{ page }}
{% endblock %}

{% block head %}
  {{ super() }}

  <link rel="stylesheet" href="/static/css/countries.css" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  <script type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}

{# Layout Menu #}
{% block menu %}
  {{ menu_item('All Countries', countries_url) }}
  {% for c in country_list %}
    {{ menu_item(c.label, c.url) }}
  {% endfor %}
  <h2> country var : {{country}}</h2>
  <h2> country_name var : {{country_name}}</h2>
{% endblock %}

{% block content %}
  <h1>{{ page }}</h1>

  {% if country %}
    {% for c in country_datas_list %}
      {{ menu_item(c.metric) }}

    <h2>Number of Prisoners {{c.year}}: {{ c.value }}</h2>
    <h2>Region : {{c.region}} </h2>
    {% endfor %}
    <canvas id="line-chart", width=800, height=700></canvas>
    <button class="refresh" type="button" data-key="{{ country.key }}">{{ country.label }}</button>
    <script type="text/javascript">
      // line chart
      new Chart(document.getElementById("line-chart"), {
          type: 'line',
          data: {
            labels: ['2019', '2018'],
            datasets: [
              {
                label: "Population over time (prisoners)",
                backgroundColor: ['{{country.colour}}'],
                data: [0,10]
              }
            ]
          },
          options: {
            legend: { display: false },
            title: {
              display: true,
              text: 'Population (prisoners)'
            }
          }
      });
    </script>
  
  
  {% else %}


    <canvas id="bar-chart"></canvas>

  {% for c in country_datas_list %}
      {{ menu_item(c.metric.name) }}

    <h2>Country : {{c.country.name}}  Number of Prisoners {{c.year}}: {{ c.value }}</h2>
    <h2>Region : {{c.country.region.name}} </h2>
  {% endfor %}

  {% for m in metric_list %}
   <button class="refresh" type="button" data-key="{{ m.key }}">{{ m.label }}</button>
  {% endfor %}

  {% for c in country_list %}
  <button class="refresh" type="button" data-key="{{ c.key }}">{{ c.label }}</button>
 {% endfor %}

{% endif %}
{% endblock %}